#main {
  width: 90%;
  max-width: 1400px;
  min-width: 960px;
  margin: 15px auto;
  min-height: 400px;
}

#sidebar {
  width: 290px;
  font-size: 14px;
  float: right;
  margin-bottom: 20px;
}

#content {
  padding: 0;
  margin-right: 305px;
}
